<app-header title="Progress Bar"></app-header>

<ion-content>
  <ion-progress-bar type="indeterminate" color="primary"></ion-progress-bar>
  <br>
  <ion-progress-bar type="indeterminate" color="secondary"></ion-progress-bar>
  <br>
  <ion-progress-bar type="indeterminate" color="tertiary"></ion-progress-bar>
  <br>
  <ion-progress-bar type="indeterminate" color="success"></ion-progress-bar>
  <br>
  <ion-progress-bar type="indeterminate" color="warning"></ion-progress-bar>
  <br>
  <ion-progress-bar type="indeterminate" color="danger"></ion-progress-bar>
  <br>
  <ion-progress-bar type="indeterminate" color="light"></ion-progress-bar>
  <br>
  <ion-progress-bar type="indeterminate" color="medium"></ion-progress-bar>
  <br>
  <ion-progress-bar type="indeterminate" color="dark"></ion-progress-bar>
</ion-content>
